// seection banner
.section-banner {
    padding-top: 15rem;
    padding-bottom: 12rem;
    background: url(../images/background.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    &__title {
        margin-top: 0;
        font-family: 'utm-avobold', sans-serif;
        font-size: $h1-font-size;
        color: $white;
        text-transform: uppercase;
    }
    &__text {
        font-family: Arial, sans-serif;
        font-size: 1.375rem;
        line-height: 2.3rem;
        color: $white;
        padding: 0 4.3rem;
        margin-bottom: 4rem;
    }
    &__button {
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    // media
    @media screen and (max-width: 992px) {
        padding-top: 11rem;
        padding-bottom: 8rem;
        &__title {
            font-size: 3.5rem;
        }
        &__text {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 425px) {
        padding-top: 5rem;
        padding-bottom: 4rem;
        &__title {
            font-size: 3rem;
        }
        &__text {
            font-size: 1.1rem;
            padding: 0 1rem;
        }
    } // end media
} //end section banner