$accent: #59c45a;
$nav-grey: #474747;
$grey: #3c3c3c;
$light-grey: #959595;
$white: #fff;
$background-color: #efeeee;

$section-padding: 6.25rem; //100px
$margin-indent: 1.875rem;  //30px

$h1-font-size: 4.25rem;
$h2-font-size: 1.75rem;
$h3-font-size: .9375rem;