// button
.button {
    display: inline-block;
    font-family: 'lato-semibold';
    font-size: 1.625rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    background: $accent;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,.35);
    transition: all .4s ease;
    &:hover {
        color: rgba(255,255,255,.8);
    }
    @media screen and (max-width: 425px) {
        font-size: 1.2rem;
    }
}
// end button
  